@page "/"
<div class="main">
    <ul class="pizza-cards">
        @if (specials is not null)
        {
            @foreach (var special in specials)
            {
                <PizzaCard Special="special" OnClick="ShowConfigurePizzaDialog" />
            }
        }
    </ul>
</div>
<div class="sidebar">
    <OrderInformation 
        Order="order"
        PlaceOrderClicked="PlaceOrder"
        />
</div>

@if (showingConfigureDialog)
{
    <ConfigurePizzaDialog 
        Pizza="configuringPizza" 
        OnCancel="CancelConfigurePizzaDialog"
        OnConfirm="ConfirmConfigurePizzaDialog"/>
}