@page "/"
@inject IPizzaApi Api

<div class="main">
    <ul class="pizza-cards">
        @if (specials is not null)
        {
            @foreach (var special in specials)
            {
                <PizzaCard Special="special" />
            }
        }
    </ul>
</div>

@code {
    IReadOnlyList<PizzaSpecial> specials;

    protected override async Task OnInitializedAsync()
    {
        specials = await Api.GetPizzaSpecialsAsync();
    }
}