@page "/"
<div class="main">
    <ul class="pizza-cards">
        @if (specials is not null)
        {
            @foreach (var special in specials)
            {
                <PizzaCard Special="special" OnClick="OrderState.ShowConfigurePizzaDialog" />
            }
        }
    </ul>
</div>
<div class="sidebar">
    <OrderInformation 
        Order="OrderState.Order"
        PlaceOrderClicked=@(() => NavigationManager.NavigateTo("/checkout"))
        />
</div>

@if (OrderState.ShowingConfigureDialog)
{
    <ConfigurePizzaDialog 
        Pizza="OrderState.ConfiguringPizza" 
        OnCancel="OrderState.CancelConfigurePizzaDialog"
        OnConfirm="OrderState.ConfirmConfigurePizzaDialog"/>
}